<p id="notice"><%= notice %></p>

<%= render @post %>

<%= link_to 'Back', posts_path %>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <%= comment.body %>
      (<%= comment.user.email %>)
      <%= link_to 'Edit', edit_post_comment_path(@post, comment) if comment.author?(current_user) %>
    </li>
  <% end %>
</ul>

<%= render 'posts/comments/form' %>
